{
  "extends": "airbnb",
  "rules": {
    "semi": ["warn", "never"],
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": [
      "warn",
      100,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "import/namespace": "error"
  }
}
